# ignore vivado log files
*.jou
*.log
*.str

# ignore the vivado project
/vivado_prj/*
.Xil/*

# ignore the ip project but keep the necessary files to generate ip
# this type list is to be completed for new IPs
ip/managed_ip_project
ip/ip_user_files

ip/**/*.*
ip/**/*.xci
ip/**/*.xml
ip/**/*.veo
ip/**/*.vho

